*, html {
    margin:0;
    padding:0;  
}


.menulist{
    list-style-type: none;
    background-color: #dc143c;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.button .buttontag{
    float: right;
    padding: 25px 0 25px 0;
    margin-right: 3%;
    font-size: 1.5rem;
    text-decoration: none;
    color: whitesmoke;
    font-family: sans-serif;
}

.Aboutpage{
    background: linear-gradient(90deg, rgb(50, 51, 51), rgb(24, 24, 24));
    width: 100%;
    height: 70%;
    padding-top: 20%;
    padding-bottom: 23%;
}

#myname {
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
    letter-spacing: 1.5px;
    font-family: sans-serif;    
}


.wrapper {
    display: grid;
    place-items: center;
}
  
.typing-demo {
    width: 21ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    color: #dc143c;
}
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }